@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --white: #fff;
  --cream: #ffe8bf;
  --gray: #6c6c6c;
  --green: #25662b;
  --black: #000000;
  --yellow: #f7b300;
}

html {
  font-size: 10px;
  font-family: Inter, sans-serif;
  color: var(--gray);
}

body {
  background-color: var(--cream);
  margin: 0;
  padding: 0;
  height: 100vh;
}

.wrap {
  margin: 0 auto;
  max-width: 1000px;
}

/* HEADER MOBILE */
header.mobile {
  padding: 0 1rem 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* HEADER DEKSTOP */
header.desktop {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
header.desktop img {
  scale: 1.2;
}
.menu ul {
  list-style: none;
  display: block;
}
.menu li {
  font-size: 1.1rem;
  display: inline-block;
  margin-right: 10px;
  user-select: none;
}
/* sign in button */
.sign {
  display: inline-block;
  border: 0;
  background-color: transparent;
  color: var(--gray);
  font-size: 1.5rem;
  margin-right: 2rem;
  position: relative;
  padding-bottom: 5px;
}
.sign::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--gray);
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: left;
  transition: 0.2s ease-out all;
}
.sign:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
/* SECTION MAIN */
/* description */
.main {
  padding: 1rem 1rem 3rem 1rem;
}
h1 {
  font-size: 3.2rem;
  color: var(--black);
  margin: 0;
}
h1 span {
  color: var(--yellow);
}

p {
  font-size: 1.6rem;
  margin: 1.2rem 0;
}

.try-free {
  border: none;
  background-color: var(--green);
  color: var(--cream);
  font-weight: bold;
  font-size: 1.6rem;
  padding: 18px 25px;
  border-radius: 5px;
}
.try-free:hover {
  background-color: #18421d;
  cursor: pointer;
}
/* ratings */
.ratings {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  max-height: 30px;
  justify-content: center;
}
.ratings p {
  display: inline-block;
  line-height: 30px;
  margin: 0;
}
.ratings-logos {
  display: inline-block;
  max-height: 30px;
  max-width: 150px;
}
.ratings-logos .container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}
div.ratings-logos img {
  cursor: pointer;
  height: 100%;
}
/* for mobile view only */
.main > img {
  display: none;
}

/* TRUSTED BY */
.trusted-by p {
  text-align: center;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 2rem 0;
}

.brands {
  margin: 0 auto;
  --logos-gap: 10px;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--logos-gap);
}
.brands img {
  max-width: calc(900px / 4 - 4 * --logos-gap);
  width: 100%;
  flex: 1 1 13rem;
}

/* hover block  products*/
.menu .products {
  position: relative;
}
.menu .products:hover .hover-block {
  display: block;
}
.triangle {
  position: absolute;
  --triangle-size: 15px;
  top: -15px;
  left: 70px;
  width: 0;
  height: 0;
  border-left: var(--triangle-size) solid transparent;
  border-right: var(--triangle-size) solid transparent;
  border-bottom: var(--triangle-size) solid var(--white);
}
.hover-block {
  display: none;
  position: absolute;
  left: -50px;
  top: 40px;
  background-color: #fff;
  width: 450px;
  border-radius: 10px;
  padding: 20px;
}
.hover-block div {
  /* display: flex; */
  margin-left: 50px;
}
.hover-block div h3 {
  position: relative;
  font-size: 1rem;
  margin-bottom: 5px;
}
.hover-block div img {
  position: absolute;
  left: -30px;
  top: 0;
}
.hover-block div p {
  margin-top: 0;
  font-size: 1rem;
}
/* MEDIA QUERIES */
@media (min-width: 1000px) {
  html {
    font-size: 12px;
  }
  header.mobile {
    display: none;
  }
  header.desktop {
    display: flex;
  }
  .wrap {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 1fr 10% 10%;
  }

  .main img {
    display: block;
  }
  .split {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .split article {
    flex-basis: 70%;
  }
  .split img {
    width: 100%;
    flex-basis: 30%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
  .wrap {
    margin: 0 auto;
    max-width: 1200px;
  }
}
